@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {

	--font-heading: "Poppins", sans-serif;
	--font-sans: "Open Sans", sans-serif;

	--color-hdl-pink: hsl(322, 100%, 66%);
	--color-hdl-light-pink: hsl(321, 100%, 78%);
	--color-hdl-red: hsl(0, 100%, 63%);
	--color-hdl-dark-cyan: hsl(192, 100%, 9%);
	--color-hdl-light-blue: hsl(207, 100%, 98%);

	--tracking-hdl: 0.015em;
}